extends layout.pug

block content
  form(action="/users" method='post')
    label(for='firstname') Firstname *
    input(id='firstname', type='text', name='firstname', placeholder='Please enter your firstname...', required)
    
    label(for='lastname') Lastname *
    input(id='lastname', type='text', name='lastname', placeholder='Please enter your lastname...', required)
    
    label(for='email') Email *
    input(id='email', type='email', name='email', placeholder='Please enter your email...', required)
    
    label(for='password') Password *
    input(id='password', type='password', name='password', placeholder='Please enter your password...', required)
    
    button(type='submit') Save