doctype html
html
  head
    link(rel='stylesheet', href='/static/index.css')
    title mr.coffee schedule website
  body
    header
      h1 mr.coffee schedule website
      a(class='button', href='/users/new') Add new user
      a(class='button', href='/schedules/new') Add new schedule
    main
      block content
    footer
    script
      // include script.js
