@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

html {
  font-size: 10px;
}

body {
  padding: 5rem 0;
  background-image: url("/static/assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
}

.body-container {
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 10rem);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(15, 32, 16, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

main {
  width: 90%;
  margin: auto;
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  margin-bottom: 3rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-logo {
  margin: 0 auto 0 2rem;
  height: 4rem;
}

nav > ul {
  display: flex;
  list-style-type: none;
}

nav > ul a {
  display: block;
  padding: 2rem 3rem;
}

nav > ul a:hover {
  color: #0b260e;
}

/* index page */
.schedule-table {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(15, 32, 16, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  color: #0b260e;
}

.schedule-title, .schedule-field {
  width: 20%;
  padding: 0.5rem;
  font-weight: 900;
}

.schedule-title {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(15, 32, 16, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 1.8rem;
}

.schedule-table > :nth-child(1) {
  border-radius: 10px 0 0 0;
}

.schedule-table > :nth-child(5) {
  border-radius: 0 10px 0 0;
}

.schedule-field {
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.schedule-table > .schedule-field:nth-child(5n+2), .schedule-table > .schedule-field:nth-child(5n+3) {
  padding-left: 2rem;
  text-align: left;
}
/* end index page */

/* new schedule page, new schedule submit success page */
form {
  width: 60%;
  margin: auto;
  text-align: left;
}

fieldset {
  position: relative;
  margin-bottom: 2rem;
  border: 0;
}

.form-field {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(15, 32, 16, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #0b260e;
  font-family: inherit;
  font-size: inherit;
}

.form-field:focus {
  outline: 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

button, .button {
  display: block;
  width: 100%;
  padding: 1.2rem 5rem;
  background-color: #25823f;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:hover {
  background-color: #21732a;  
}

button:active {
  background-color: #1c6325;
}

button:focus {
  outline: 0;
}

.tooltip-form-alert {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.3rem;
  border-radius: 10px;
  background-color: #ffffff;
  color: red;
  text-align: center;
  font-size: 1.3rem;
}

.tooltip-form-alert::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20% auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 10px;
  color: #0b260e;
}

.modal-text {
  margin-bottom: 2rem;
}

#close-modal-button {
  color: #ffffff;
  margin: auto;
  width: initial;
}
/* end new schedule page, new schedule submit success page */

/* media 768 */
@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .schedule-table {
    width: 100%;
  }
}
/* end media 768 */

/* media 576 */
@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }

  body {
    padding: 1rem 0;
  }

  .body-container {
    width: 98%;
    min-height: calc(100vh - 2rem);
  }

  .schedule-title {
    font-size: 1.6rem;
  }
}
/* end media 576 */