<header>
  <nav>
    <img class="nav-logo" src="/static/assets/full_logo_white.png" alt="mr.coffee white logo">
    <ul>
      <li><a href="/">Display schedule</a></li>
      <li><a href="/new">Add new schedule</a></li>
    </ul>
  </nav>
</header>