<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinocchio's page</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <h1>Hello my name is <%=myName%></h1>
  <p>my aim in life is to be a real boy</p>
  <h3>Here are some of my best friends</h3>
  <ul>
        <%for(let i=0; i < myBestFriends.length; i++) {%>
            <li><%= myBestFriends[i].name%></li>
        <%}%>
  </ul>
</body>
</html>