<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule management - New schedule | Mr.Coffee</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <form method="post" action="/new">
    <label for="username">Username *</label>
    <input id="username" type="text" name="username" required placeholder="Enter your username...">

    <label for="day">Day *</label>
    <select id="day" name="day" required>
      <option disabled selected value="">Select day...</option>
      <option value='1'>Monday</option>
      <option value='2'>Tuesday</option>
      <option value='3'>Wednesday</option>
      <option value='4'>Tuesday</option>
      <option value='5'>Friday</option>
      <option value='6'>Saturday</option>
      <option value='7'>Sunday</option>
    </select>

    <label for="start_time">Start time *</label>
    <input id="start_time" type="time" name="start_time" required placeholder="Enter start time">
    <label for="end_time">Start time *</label>
    <input id="end_time" type="time" name="end_time" required placeholder="Enter end time">

    <button type="submit">Save</button>
  </form>
</body>
</html>